@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&display=swap');
@import './variables.css';
@import './animations.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Chiron GoRound TC', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}
